<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="../assets/images/logo.png">
    <title>Groupie-Tracker</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/homeP.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/trackerP.css">
    <!--script-->

</head>
<!--header-->
<hd>
    <nav>
        <ul>
            <li><a href="/home.html">Groupie-Tracker</a></li>
            <li><a href="/home.html">Home</a></li>
            <li><a href="#search" onclick="Form()">Search</a></li>
            <li><a href="/pages/artist?artist={{.Random}}">Random Artist</a></li>
        </ul>
    </nav>
</hd>

<!-- Search / filter -->
<full class="full">

    <div class="form-popup" id="myForm">
        <section>
            <div class="left-text-content">
                <h2>Search for your favorite artists !</h2>
            </div>

            <h4 style="text-align: center;">Only for groupie nerds</h4>
            <form style="text-align: center;" action="/pages/tracker" id="testt" +id="album" +id="apparition" +id="location" +id="one" +id="two" +id="three" +id="four" method="get" method="post">
    <p class="separator2"></p>
        <form action="/pages/artist" method="get" method="post">
            <input style="margin:auto; display:block;" list="listArtists" type="text" placeholder="Search for an artist !" onchange="location = this.value;" id="artistt" name="artist">
            <datalist id="listArtists">
                {{range $artist := .Artiste}}
                <option value="{{$artist.Id}}">{{$artist.Name}}</option>
                {{end}}
            </datalist>
            <input style="  margin:auto; display:block;" type="submit" value="Search Artist" name="recherche" id="test">
    <p class="separator2"></p>
        <div>
            <div class="slidecontainer">
                <h3> Additional information</h3>
                <label>First apparition: <span id="demo"></span></label>
                <input type="range" min="1945" max="2020" value="1940" class="slider" id="apparition" name="apparition">
            </div>

            <div class="slidecontainer">
                <label>First album: <span id="demoo"></span></label>
                <input type="range" min="1945" max="2020" value="1940" class="slider" id="album" name="album">
            </div>

            <div>
                <label for="whatever"> Number of Members: </label>
                <label for="whatever"> 1</label>
                <input type="radio" id="one" name="members" value="1">
                <label for="whatever"> 2</label>
                <input type="radio" id="two" name="members" value="2">
                <label for="whatever"> 3</label>
                <input type="radio" id="three" name="members" value="3">
                <label for="whatever"> 4</label>
                <input type="radio" name="members" id="four" value="4">
            </div>
            <br>
            <input type="text" id="location" name="location" placeholder="Enter a location !">
            <input type="submit" value="Search" name="recherche" id="testt">
        </form>
        </div>
    </div>
    </section>

    </div>
</full>

<!-- Card loop -->
<p class="separator"></p>
<div class="one">
    {{range $artist := .Artiste}}
    <div class="two">
        <div class="tree">
            <a href="/pages/artist?artist={{$artist.Id}}">
                <div>
                    <div>
                        <img class="image-artist img" src="{{$artist.Image}}">
                    </div>
                    <div class="card_txt">
                        <h1>{{$artist.Name}}</h1>
                        <h3>First Apparition:</h3>
                        <p>{{$artist.CreationDate}}</p>
                        <h3>Members:</h3>
                        <p>{{$artist.Membersstr}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {{end}}
</div>
<p class="separator"></p>


<!-- Footer -->
<div class="fontF">
    <div class="leftF">
        <p>Groupie-Tracker 2021</p>
    </div>
    <div class="rightF">
        <ul class="Groupie">
            <li>
                <p>Hey what's a groupie ?</p><br>
            </li>

            <p>Young unconditional admirer of a singer, a music group or by extension of a person.</p><br>
        </ul>
    </div>
</div>
</body>
<script src="../assets/js/tracker01.js"></script>
<script src="../assets/js/tracker02.js" defer></script>
</html>